*{
    box-sizing: border-box;
}


.fixed-top{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}


/*.degrade{
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 614px;
    background-color: rgba(0, 0, 0, 0.9);
}
*/


.bg-navbar, .nav-link{
    background-color: #383E4C;;
}


.navbar .navbar-nav{
    padding-top: 3px;
    padding-bottom: 10px;
    
}

 .navbar-dark .navbar-nav .nav-link{
    font-size: 20px;
    color: #FFF;
    padding: 10px 25px;
    border: solid 1px #646d7c;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}

.active{
    background-color: #49505F;
}

.navbar-nav a:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #49505F;
}


.background-parallax-top{
    background-attachment: fixed;
    background-image: url('../../media/img/bg-1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 614px;  
    background-repeat: no-repeat;
    flex-direction: column;
}

.background-parallax-top h1{
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
    font-size: 4em;
}

.background-parallax-top p{
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
    font-size: 1.4em;
}


.section-three-column{
    margin-top: 70px;
      
}

.section-three-column .card-title{
    align-self: flex-start;
}

.card-body{
    flex-direction: column;
    background-color: #f2f2f2;
}

.section-two-column{
    margin-bottom: 70px;
    margin-top: 70px;
}

.section-two-column .col-md-6:first-child .card-title {
    align-self: flex-start;
}

.background-parallax-center {
    background-image: url('../../media/img/bg-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 325px;
    flex-direction: column;
}
.background-parallax-center h2{
    font-size: 2.5em;
    text-shadow: 3px 1px 3px rgba(204, 204, 204, 1);
    letter-spacing: 2px;
}

.background-parallax-center p{
    text-align: center;
    max-width: 710px;
    width: 100%;
}

.section-four-column{
    margin-top: 70px;
}

.section-four-column .card-body{
    display: flex;
    min-height: 285px;
}

.section-four-column .card-title{
    text-align: center;
}

.section-four-column a{
    align-self: center;
}

.section-one-column{
    margin-top:70px;
    margin-bottom: 100px;
}





@media only screen and (max-width: 767px){

    .bg-navbar{
        background: none;
    }

    .navbar-toggler{
        background: #383E4C;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 3px 25px;
    }

    .navbar-collapse{
        margin-top: 10px;
    }

    .card-title{
        align-self: center !important;
    }

    .section-four-column .card-body{
        min-height: auto;
    }



    
    
}